
.productsContainer
    display: flex
    flex-wrap: wrap

.product
    border-radius: 5px
    width: 600px
    height: 230px
    margin: 50px
    text-align: center
    background-image: linear-gradient(to right, #104b83, #2a2af0,#00d4ff)
    color: white
    display: grid
    cursor: pointer
    transition: .1s
    grid-template-areas: "titulo img" "description img" "valor img"
    position: relative
    opacity: .8

    .nameProduct
        grid-area: titulo
        text-transform: uppercase
        padding: 10px 30px
        text-align: left

    img
        height: 160px
        padding: 15px
        grid-area: img

    .descriptionProduct
        grid-area: description
        width: 80%
        margin-left: 20px
        text-align: left

    .descriptionProductMobile
        display: none

    .valor
        font-size: 25px
        text-align: left
        margin-left: 30px
        grid-area: valor

    .carrinho
        bottom: 5px
        right: 10px
        position: absolute
        background-color: #104b83
        border-radius: 20px
        width: 30px
        height: 30px
        display: flex
        align-items: center
        justify-content: center

.toastInfo
    display: flex
    flex-direction: column
    gap: 0.2em

.toastQtd
    display: flex
    align-items: center
    gap: 0.5em

.toastProduct
    text-transform: uppercase
    font-size: 0.6em

@media screen and (max-width: 769px)
    .product
        margin: 5px
        width: 48%
        height: 180px

        .descriptionProduct
            display: none

        .descriptionProductMobile
            display: block
            width: 80%
            margin-left: 20px

@media screen and (max-width: 576px)

    .product
        margin: 10px auto
        width: 90%
        height: 180px

        .descriptionProduct
            display: none
        .descriptionProductMobile
            display: block
