
.container
    width: 100vw
    height: 100vh
    position: relative
    color: white

    h1
        text-align: center

    .product
        border: 1px solid white
        margin: 30px 10px
        width: 220px
        display: inline-block
        padding: 10px
        position: relative

    .close
        position: absolute
        top: -5px
        right: -5px
        cursor: pointer

    .button-cadastrar
        display: block
        margin-top: 20px
        background-color: rgb(39, 113, 186)
        font-weight: bold
        color: white
        border-radius: 5px
        height: 30px
        border: none
        width: 200px
        cursor: pointer
        margin: 20px
