.containerApp{
    width: 100vw;
    height: 100vh;
    position: relative;
    // background-image: linear-gradient(to right, #2419e8, #2a2af0,#00d5ffc4);    
    background: (17 26 51);

    
    .login{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .footer{
        position: absolute;
        bottom: 0px;
    }

}

@media screen and (max-width: 767px) {
    .footer{
        display: none;
    }
}


